#signin{
    background-color: tomato; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 100px;
 
}

#appTitle{
    font-family: sans-serif;
    color: DodgerBlue;
}

#appContent{
    background-color: lavenderblush;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

